*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif


}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
   
     background: linear-gradient(to top left, #003366 0%, #cc0000 100%);
     

    
    color: #fff;
}



h1{
    font-size: 48px;
    margin-bottom: 48px;
    letter-spacing: 1.5px;
    font-family: 'Courier New', Courier, monospace;
    
}

h2{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:1.4px ;
    padding-bottom: 26px;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px  #0f0d0dc4;
 
    padding: 40px 30px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
}

.timer{
    background-color: rgba(255,255,255,0.15);
   
    

    padding: 30px;
    margin: 0 20px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100px;
    max-width: 160px;
    height: 100%;
    
}

.timer .time{
    font-size: 48px;
    font-weight: 700;
}
.timer .label{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px #fff;

}
.timer:hover{
    background-color: rgba(255,255,255,0.25);;
}

@media screen and (max-width:1024px){
    h1 {
        font-size: 38px;
    }
     
    .countdown{
        flex-wrap:wrap;

    }

    .timer{
        max-height: 150px;
        margin: 20px;
    }

   
}